.Footer {
    display: flex;
    justify-content: space-around;
    width: 100vw;
    background-color: #D4A373;
}

button {
    margin: 5px;
    padding: 10px 20px;
    background-color: #FAEDCD;
    border: none;
}

button:hover {
    background-color: #FEFAE0;
}