.tile {
  width: 10vw;
  height: 10vw;
  border: 1px solid black;
  margin: 2vh 0;
  background-color: #ccd5ae;
  text-align: center;
  font-size: 6px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.era{
  width: 10vw;
  height: 10vw;
  border: 1px solid black;
  margin: 2vh 0;
  background-color: #95ab4b;
  text-align: center;
  font-size: 6px;

  display: flex;
  flex-direction: column;
}

.era h1{
  /* position: absolute; */
  margin-left: .5vw;
  margin-top: 1vw;
  font-weight: 900;
  font-size: 25px;
  z-index: 100;
}

/* .tile:hover {
  background-color: #e9edc9;
} */

.tile button{
  height: 40px;
  font-size: 10px;  
}

.tile img{
  height: 40px;
  width: 40px;
}

.icon {
  font-size: 90px;
}



.tile.locked {
  background-color: darkgrey;
  justify-content: space-evenly;
}