.tile {
  width: 8vw;
  height: 8vw;
  border: 1px solid black;
  margin: 2vh 0;
  background-color: #ccd5ae;
  text-align: center;
  font-size: 6px;
}

/* .tile:hover {
  background-color: #e9edc9;
} */

.tile.locked {
  background-color: darkgrey;
}
